<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oracle.intelagr.mapper.ContractMapper">
	<resultMap type="Contract" id="ContractMap">
		<id column="id" property="id" />
		<result column="ContractorCode" property="contractorCode" />
		<result column="LandCode" property="landCode" />
		<result column="LandName" property="landName" />
		<result column="ContractArea" property="contractArea" />
		<result column="MeasurementMu" property="measurementMu" />
		<result column="LandClass" property="landClass" />
		<result column="LandType" property="landType" />
	</resultMap>
	<select id="selectAll" resultMap="ContractMap">
		select * from
	</select>

	<select id="selectByID" resultMap="ContractMap" parameterType="java.lang.String">
		select * from m_contract
		<where>
			<if test="contractorCode!=null and contractorCode!=''">
				and ContractorCode = #{contractorCode}
			</if>
		</where>
	</select>

</mapper>
